.dishes-container {
    padding: 20px;
    background-color: #ffefe5; /* Fondo cálido */
    color: #663300; /* Texto marrón oscuro */
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
  }
  