.menu-container {
  margin: 0%;
  padding: 20px;
  background-color: #ffefe5; /* Fondo cálido */
  color: #663300; /* Texto marrón oscuro */
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.menu-add-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}

.menu-back-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}

.menu-title-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-title-text h2 {
  margin: 0 0 0 20px;
}

.tables-container {
  display: flex;
  flex-wrap: space-between;
  border-radius: 5px;
  border-color: #e0d2c8;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin: 10px;
  background-color: #eedfd5;
}

.menu-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  margin-top: 30px;
}

.table-card-counter {
  text-align: center;
  justify-content: center;
  margin-top: 25px;
  border-radius: 5px;
}

.counter-button {
  background-color: #1e88fa;
  color: white;
  border: none;
  padding: 5px 35px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}

.counter-button:hover {
  background-color: #0056b3;
}

.counter-value {
  margin: 0 30px;
  font-size: 18px;
  font-weight: bold;
}
