/* Estilos generales */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
  }
  
  :root {
	--accent-color: #ff3d3d;
	--gradient-color: #FBFBFB;
  }
  
  /* Estilos del body (opcional) */
  body {
	background-image: linear-gradient(-45deg, #A37666 0%, #795548 100%);
  }
  
  /* Estilos del menú */
  .sidebar {
	position: fixed;
	width: 240px;
	left: -240px;
	height: calc(100% - var(--topbar-height));
	box-shadow: 8px 0 10px rgba(0, 0, 0, 0.301);
	background-color: #FFEBEE;
	transition: all .5s ease;
	overflow-y: auto;
	margin-top: 70px
	z-index: 2000;
  }
  
  .sidebar.open {
	left: 0;
  }
  
  .sidebar header {
	font-size: 28px;
	color: #353535;
	line-height: 70px;
	text-align: center;
	background-color: #FFEBEE;
	user-select: none;
	font-family: 'Lato', sans-serif;
  }
  
  .sidebar a,
  .sidebar button {
	display: flex;
	align-items: center;
	height: 65px;
	width: 100%;
	color: #353535;
	padding-left: 30px;
	box-sizing: border-box;
	border-left: 5px solid transparent;
	font-family: 'Lato', sans-serif;
	transition: all .5s ease;
	background: none;
	border: none;
	cursor: pointer;
	text-align: left;
  }
  
  .sidebar a:hover,
  .sidebar button:hover,
  .sidebar a.active {
	border-left: 5px solid var(--accent-color);
	color: #fff;
	background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
  }
  
  .sidebar a i,
  .sidebar button i {
	font-size: 24px;
	margin-right: 16px; /* Espacio entre el ícono y el texto */
  }
  
  .sidebar a span,
  .sidebar button span {
	letter-spacing: 1px;
	text-transform: uppercase;
  }
  
  /* Botón del menú */
  .menu-button {
	position: fixed;
	top: 15px;
	left: 15px;
	cursor: pointer;
	color: #212121;
	border-radius: 5px;
	font-size: 29px;
	background-color: #ff562236;
	box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
	  inset -7px -7px 10px 0px rgba(0,0,0,.1),
	  3.5px 3.5px 20px 0px rgba(0,0,0,.1),
	  2px 2px 5px 0px rgba(0,0,0,.1);
	height: 45px;
	width: 45px;
	text-align: center;
	line-height: 45px;
	transition: all .5s ease;
	z-index: 1001;
  }
  
  /* Ajustes para dispositivos móviles */
  @media (max-width: 860px) {
	.sidebar {
	  width: 70px;
	  left: -70px;
	}
	.sidebar.open {
	  left: 0;
	}
	.sidebar header,
	.menu-button {
	  display: none;
	}
	.sidebar a span,
	.sidebar button span {
	  display: none;
	}
	.sidebar a i,
	.sidebar button i {
	  margin: 0 auto;
	}
  }
  
  /* Estilos adicionales para enlaces específicos */
  .sidebar a:nth-child(even).active,
  .sidebar a:nth-child(even):hover {
	--accent-color: #FFC107;
	--gradient-color: #FF5722;
  }
  
  .sidebar a:nth-child(odd).active,
  .sidebar a:nth-child(odd):hover {
	--accent-color: #FF5722;
	--gradient-color: #FFC107;
  }
  