.orders-container {
  margin: 0%;
  padding: 20px;
  background-color: #ffefe5; /* Fondo cálido */
  color: #663300; /* Texto marrón oscuro */
  height: 92vh;
  overflow-y: auto;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
}

/* Estilo del encabezado */
.orders-header {
  margin-bottom: 20px;
}

.orders-header h1 {
  font-size: 2.5em;
  color: #333;
}

/* Contenedor de las tablas de órdenes */
.orders-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Tabla para cada tipo de orden (Pendientes/Completadas) */
.orders-table {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  background-color: #fce6d9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
}

.orders-table h2 {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

/* Lista de órdenes */
.orders-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Tarjeta de cada orden */
.order-card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.order-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

/* Encabezado de cada tarjeta */
.order-card h3 {
  font-size: 1.5em;
  color: #444;
  margin: 0 0 10px 0;
}

.order-card p {
  margin: 5px 0;
  color: #666;
  font-size: 1em;
}

/* Lista de platillos */
.order-card ul {
  padding-left: 20px;
  margin: 10px 0;
}

.order-card li {
  margin: 5px 0;
  color: #333;
  font-size: 0.9em;
  line-height: 1.5em;
}

.order-card button:hover {
  background-color: #0056b3;
}

.order-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-card .delete {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.2s;
}

.order-card .delete:hover {
  background-color: #c82333;
}

/* Botón en la tarjeta */
.order-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.2s;
}
